html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.container {
  display: flex;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

.intro {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  height: 31rem;
  width: 100%;
  padding-top: 1rem;
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.headerBanner {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
  background-color: cadetblue;
  height: 3rem;
}

.identity {
  display: flex;
  align-items: center;
  width: 50%;
  text-align: left;
  margin: 0;
  padding-left: 2rem;
}

.navigation {
  width: 50%;
  text-align: right;
  margin: 0;
  padding-right: 2rem;
}

.logo {
  display: inline;
  padding: 0 1rem 0 0;
  margin: 0;
  height: 1.5rem;
  width: auto;
}

.identity p {
  display: inline;
  color: white;
  margin: 0;
  font-family: Helvetica;
  padding: 1rem 0 1rem 0;
}

.buttons {
  color: white;
  margin: 0;
  padding-left: 2rem;
  font-family: Helvetica;
}

.buttonHide {
  display: none;
}

.containerL {
  display: flex;
  justify-content: flex-end;
  width: 1032px;
  margin: 0 auto;
  padding: 0;
}

.slogan {
  margin: 0;
  background-color: white;
  padding: 1.5rem 5rem;
}

.slogan h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

.services {
  margin: 3rem auto;
  height: 8rem;
  padding: 0;
  justify-content: center;
}

.exams,
.fittings,
.delivery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 3rem;
  text-align: center;
}

.paperIcon {
  width: 3.5rem;
  height: auto;
  margin: 0;
  padding: 0;
}

.rulerIcon {
  width: 5rem;
  height: auto;
  margin: 0;
  padding: 0;
}

.truckIcon {
  width: 5rem;
  height: auto;
  margin: 0;
  padding: 0;
}

.exams p,
.fittings p,
.delivery p {
  font-family: Helvetica;
  line-height: 1.4;
  color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}

.about {
  justify-content: center;
}

.philosophy,
.appointments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  padding: 0;
  margin-right: 5%;
}

.philosophy h3,
.appointments h3 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  margin: 0 0 1rem 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  background: cadetblue;
  color: white;
}

.philosophy p,
.appointments p {
  font-family: Helvetica;
  font-size: 1rem;
  color: black;
  line-height: 1.4rem;
}

.footer {
  margin-top: 5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  background-color: azure;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0; 
}

.logoBlack {
  margin: 0;
  padding: 0 1rem 0 0;
  height: 1.5rem;
  width: auto;
}

.footer p {
  font-family: Helvetica;
  font-size: 1rem;
  color: black;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .intro {
    padding-top: 0;
    height: 22rem;
  }
  .container {
    width: 100%;
  }
  .headerBanner {
    margin-bottom: 5rem;
  }
  .containerL{
    width: 100%;
  }
  .slogan {
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }
  .slogan h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 480px) {
  .intro {
    padding-top: 0;
    height: 17rem;
    background-position: 20%;
  }
  .container {
    width: 100%;
  }
  .headerBanner {
    margin-bottom: 9rem;
  }
  .buttonHide {
    display: inline;
    color: white;
    margin: 0;
    font-family: Helvetica
  }
  .buttons{
    display: none;
  }
  .identity p {
    display: none;
  }
  .containerL {
    width: 100%;
    justify-content: center;
  }
  .slogan {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .slogan h1 {
    font-size: 1rem;
  }
  .services {
    display: flex;
    flex-direction: column;
    margin: 3.77rem auto;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
  .fittings {
    margin: 1.54rem auto;
  }
  .exams p,
  .fittings p,
  .delivery p {
    font-size: 0.77rem;
  }
  .about {
    flex-direction: column;
    margin: 0;
  }
  .philosophy,
  .appointments {
    width: 100%;
    margin: 0;
  }
  .philosophy h3,
  .appointments h3 {
    text-align: center;
    width: 100%;
    padding-left: 0;
  }
  .philosophy p,
  .appointments p {
    font-size: 0.77rem;
    padding-bottom: 4rem;
    padding-right: 5%;
    padding-left: 2%;
  }
  .footer {
    padding: 4rem 0;
    margin: 0;
    justify-content: center;
    width: 100%;
  }
  .logoBlack {
    margin: 0;
    padding: 0;
    height: 1.5rem;
    width: auto;
  }
  .hidePara {
    display: none;
  }
}
