html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.container {
  display: flex;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

.intro {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  height: 31rem;
  width: 100%;
  padding-top: 1rem;
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.headerBanner {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  margin-bottom: 10rem;
  background-color: cadetblue;
  height: 3rem;
}

.identity {
  display: flex;
  align-items: center;
  width: 50%;
  text-align: left;
  margin: 0;
}

.navigation {
  width: 50%;
  text-align: right;
  margin: 0;
}

.logo {
  display: inline;
  padding: 0 1rem 0 0;
  margin: 0;
  height: 1.5rem;
  width: auto;
}

.identity p {
  display: inline;
  color: white;
  margin: 0;
  font-family: Helvetica;
}

.buttons {
  color: white;
  margin: 0;
  padding-left: 2rem;
  font-family: Helvetica;
}

.containerL {
  display: flex;
  justify-content: flex-end;
  width: 1032px;
  margin: 0 auto;
  padding: 0;
}

.slogan {
  margin: 0;
  background-color: white;
  padding: 1.5rem 5rem;
}

.slogan h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

.services {
  margin: 3rem auto;
  height: 8rem;
  border: 1px solid black;
  padding: 0;
  justify-content: center;
}

.exams,
.fittings,
.delivery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 3rem;
  text-align: center;
  border: 1px solid red;
}

.paperIcon {
  width: 3.5rem;
  height: auto;
  margin: 0;
  padding: 0;
  border: 1px solid blue;
}

.rulerIcon {
  width: 5rem;
  height: auto;
  margin: 0;
  padding: 0;
  border: 1px solid blue;
}

.truckIcon {
  width: 5rem;
  height: auto;
  margin: 0;
  padding: 0;
  border: 1px solid blue;
}

.exams p,
.fittings p,
.delivery p {
  font-family: Helvetica;
  line-height: 1.4;
  color: black;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 1px solid yellow;
}

.about {
  /*display: inline-flex;*/
  justify-content: center;
  border: 1px solid green;
}

.philosophy,
.appointments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  padding: 0;
  margin-right: 5%;
  border: 2px solid purple;
}

.philosophy h3,
.appointments h3 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  margin: 0 0 1rem 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  background: cadetblue;
  color: white;
}

.philosophy p,
.appointments p {
  font-family: Helvetica;
  font-size: 1rem;
  color: black;
  line-height: 1.4rem;
}

.footer {
  margin-top: 5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  background-color: azure;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid orange;
}

.logoBlack {
  margin: 0;
  padding: 0 1rem 0 0;
  height: 1.5rem;
  width: auto;
  border: 2px solid red;
}

.footer p {
  font-family: Helvetica;
  font-size: 1rem;
  color: black;
  padding: 0;
  margin: 0;
  border: 2px solid blue;
}
